@model List<Product>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient py-3 ">
        <div clsss="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="col-12 text-end">
            <a asp-controller="Product" asp-action="CreateProduct" class="btn btn-primary mb-2" title="New Product">
                <i class="bi bi-plus-lg"></i> New Product
            </a>
        </div>


        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>ISBN</th>
                    <th>ListPrice</th>
                    <th>Price for 1-50</th>
                    <th>Price for 50-100</th>
                    <th>Price for 100+</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Author
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.ISBN
                        </td>
                        <td>
                            @item.ListPrice
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.Price50
                        </td>
                        <td>
                            @item.Price100
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Product" asp-action="EditProduct" asp-route-id="@item.Id" class="mx-2" title="Edit Product"><i class="bi bi-pen"></i></a>
                                <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@item.Id" class="mx-2 text-danger" title="Delete Product"><i class="bi bi-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>