@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                    <img src="@product.ImageUrl" class="card-img-top rounded"/>
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center"> @product.Title</p>
                                <p class="card-text text-center text-dark opacity-50"> @product.Author</p>
                        </div>
                            <div class="pl-1">
                                <p class="text-dark opacity-75 text-center">List Price: <span class="text-decoration-line-through">@product.ListPrice.ToString("C")</span> </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark opacity-75 text-center">As low as: @product.ListPrice.ToString("C") </p>
                            </div>
                    </div>
                    </div>
                    <div>
                        <a asp-area="Customer" asp-controller="Home" asp-action="Details"
                        asp-route-productId="@product.Id" class="btn btn-primary form-control">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>